---
layout: default
title: "Testing: netlify-plugin-html-minify"
---

<p>This site has just a couple of simple pages. This one and <a href="/">an index page</a></p>
<p>When built in the <em>production</em> the html source should be minified</p>
<p>Via config in the netlify.yml, we might wish to minify all builds in Netlify CI, not just the production context</p>


