---
layout: default
title: "Testing: netlify-plugin-html-minify"
---

<p>This site has just a couple of simple pages. This one and <a href="/about">an about page</a></p>
<p>When built in the <em>production</em> the html source should be minified</p>

<h2>Also...</h2>
<p>Here's a kitten</p>
<img src="/images/kitten.jpeg" alt="Just a kitten">
